{% extends 'layout.html' %} {% block content %}
<div class="col-md-6">
  <div
    class="card w-100"
    style="background-color: rgb(241, 227, 179); margin-bottom: 10px"
  >
    <div class="card-body">
      <h1 style="margin-left: 20px">Create new recipe :</h1>
    </div>
  </div>
</div>
<div class="card w-100" style="background-color: rgb(241, 227, 179)">
  <div class="card-body">
    <form
      action="/create.html"
      method="POST"
      class="box"
      style="margin-left: 30px"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="input__wrapper">
        <label for="name">Recipe name : </label>
        <input
          style="
            margin-left: 30px;
            border: black solid 2px;
            border-radius: 10px;
            padding: 5px;
          "
          id="name"
          type="text"
          name="name"
          maxlength="32"
          required
          class="username input_field input_field_username"
          pattern="[a-zA-Z0-9._-]{3,32}"
          placeholder="recipe name"
        />
      </div>
      <div class="input__wrapper">
        <label for="name">Cook time : </label>
        <input
          style="
            margin-left: 60px;
            border: black solid 2px;
            border-radius: 10px;
            padding: 5px;
          "
          id="cooktime"
          type="number"
          name="cooktime"
          maxlength="32"
          required
          class="password input_field input_field_password"
          pattern=".{8,32}"
          placeholder="30"
        />
      </div>
      <div class="input__wrapper">
        <label for="name">Difficulty (1-5) : </label>
        <input
          style="
            margin-left: 16px;
            border: black solid 2px;
            border-radius: 10px;
            padding: 5px;
          "
          id="diff"
          type="number"
          name="diff"
          required
          class="dob input_field input_field_dob"
          placeholder="difficulty"
        />
      </div>
      <div class="input__wrapper">
        <label for="name">Region : </label>
        <input
          style="
            margin-left: 94px;
            border: black solid 2px;
            border-radius: 10px;
            padding: 5px;
          "
          id="region"
          type="text"
          name="region"
          required
          class="dob input_field input_field_dob"
          placeholder="region"
        />
      </div>
      <div class="input__wrapper">
        <label for="name">Description : </label>
        <textarea
          style="
            margin-left: 47px;
            border: black solid 2px;
            border-radius: 10px;
            padding: 5px;
          "
          id="desc"
          type="text"
          name="desc"
          required
          class="dob input_field input_field_dob"
          placeholder="description"
        >
        </textarea>
      </div>

      <div class="input__wrapper">
        <label for="name">Ingredients : </label>
        <textarea
          style="
            margin-left: 50px;
            border: black solid 2px;
            border-radius: 10px;
            padding: 5px;
          "
          id="ingredients"
          type="text"
          name="ingredients"
          required
          class="dob input_field input_field_dob"
          placeholder="Ingredients"
        >
        </textarea>
      </div>
      <div class="input__wrapper">
        <label for="name">Steps : </label>
        <textarea
          style="
            margin-left: 106px;
            border: black solid 2px;
            border-radius: 10px;
            padding: 5px;
          "
          id="steps"
          type="text"
          name="steps"
          required
          class="dob input_field input_field_dob"
          placeholder="Steps"
        >
        </textarea>
      </div>
      <div class="input__wrapper">
        <button type="submit" class="btn btn-success" style="margin-top: 20px">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
