{% extends 'layout.html' %} {% block content %}

  <div class="card w-80" style="background-color: rgb(241, 227, 179); margin-bottom: 20px">
    <div class="card-body">
      <div style="font-size: 200%" class="card-title">
            Top 10 Recipes
          </div>
<table class="table table-sm table-bordered table-hover table-warning border-success">
  <thead>
    <tr>
      <th>Postion</th>
      <th>Recipe name</th>
      <th>Number of favourites</th>
    </tr>
  </thead>
  <tbody>
    {% for recipe in recipies %}
    <tr>
      <td>{{ loop.index }}</th>

      <td><a class="link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/view.html?r_id={{ recipe['r_id'] }}">{{ recipe['r_name'] }}</a></td>
      <td>{{ recipe['num_favourites'] }}</td>

    </tr>



    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock %}
