<!doctype html>
<html>
   <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="base-uri 'self'; default-src 'self' 'unsafe-inline'; script-src 'self'; img-src 'self'  data:; x-src 'self'  data:; media-src 'self'; font-src 'self'; connect-src 'self'; object-src 'self'; worker-src 'self'; frame-src 'none'; form-action 'self'; manifest-src 'self'"
    />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Cookbook Companion</title>
        <link rel="manifest" href="static/manifest.json" />
        <link rel="icon" type="image/x-icon" href="static/images/favicon.png" />
        <meta name="theme-color" content="#14E6DD" />
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
<script src="static/js/bootstrap.bundle.min.js"></script>
   </head>
   <body style="transform: scale(1.5); transform-origin: top left; width: 66.6667vw; margin: 0; overflow-x: hidden;">  
    <main>
        <nav style="border: 1px solid black; margin-top: 15px; margin-bottom: 40px; margin-left: 10px; margin-right: 10px; text-align: center; padding-top: 10px; padding-bottom: 10px; border-radius: 10px; background-color: rgb(241, 227, 179);">
            <h1 style="padding-left: 10px; padding-top: 5px; font-size: 200%;">Cookbook Companion</h1>
            <ul class="topnav" style="padding-top: 10px;">
                {% if state %}
                <li><a href="/dashboard.html">Dashboard</a></li>
                <li><a href="/topten.html">Popular</a></li>
                <li><a href="/create.html">Create</a></li>
                <li><a href="/search.html">Search</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {% if not session ['two_fa'] %}
                        <li><a href="/setup_2fa.html">2fa</a></li>
                    {% endif %}


                {% else %}
                <li><a href="/">Home</a></li>
                <li><a href="/signup.html">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}{% endblock %}
    <script src="static/js/serviceWorker.js"></script>
    <script src="static/js/app.js"></script> 
</body>
</html>
