{% extends 'layout.html' %} {% block content %}
<div class="">
  <div class="row">
    <div class="col-md-6">
      <div class="card w-100" style="background-color: rgb(241, 227, 179)">
        <div class="card-body">
          <div style="font-size: 150%" class="card-title">
            Setup 2FA {{ value }}
          </div>

          <img
            style="margin-left: 30px"
            src="data:image/png;base64,{{ qr_code_b64 }}"
          />
          <form action="/setup_2fa.html" method="post" class="box">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <div class="input__wrapper">
              <input
                type="text"
                name="twofa_code"
                id="twofa_code"
                class="input__field"
                required
              />
            </div>
            <div class="input__wrapper">
              <input type="submit" class="btn" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
